[2019-02-09 16:40] HeyITGuyFixIt opened #579 "TypeError: no implicit conversion of Array into String"
- [x] I Am on Linux

## Description

I am running Jekyll (`gem "jekyll", "~> 3.8.5"`) with jekyll-assets on GitLab Pages. Whenever I attempt to build, I get this error:

My configuration in `_config.yml` that the installation in README.md said to add looks like this:

It seems to be running into the error right at the last few lines in the `plugins` section. Am I doing something wrong or is this a

[2019-02-11 00:40] #579 closed

[2019-02-11 11:47] HeyITGuyFixIt opened #580 "CSS Font Family src with ? Throws Exception"
- [ ] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [x] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [x] Debian
- [ ] I am on macOS

[2019-02-11 16:07] envygeeks commented on #580
This is definitely a pretty severe bug, I thought this was fixed, I'll double check.

[2019-02-11 17:39] HeyITGuyFixIt opened #581 "CSS Font Face src file name parsed as property and invalid css"
- [ ] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [x] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [x] Debian
- [ ] I am on macOS

[2019-02-12 03:56] HeyITGuyFixIt commented on #580
I was able to get around this issue by using `src: url({% asset "fontello/fontello.eot" @path %})`. This works, and works for bug #581, as well. Nonetheless, this is still a bug with `asset_url`.

[2019-02-19 09:13] mattt opened #582 "SRI Digest Hash Algorithm sha256 Doesn't Meet Recommended Baseline of sha384"
- [x] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [ ] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debian
- [ ] I am on macOS

[2019-02-23 00:18] afyaf2 opened #583 "Assets arent being compiled when deploying to GH-Pages"
Hey all. I have an alpha build of a site im trying to deploy here [https://afyaf2.github.io/ad/](url) but the assets arent compiling at build. I'm not really sure what the error is, I must say I'm a complete noob to jekyll and I'd appreciate any insight.

Repo is at [https://github.com/afyaf2/ad](url).

I'd appreciate any help, hoping this is something minor that I've missed. Thanks!

[2019-03-05 17:12] OldGareBear commented on #270
Hi @ckreon, I'm dealing with this issue right now. By chance chance would you be able to direct me to the bug report you filed with Mozilla? Thanks!

[2019-03-08 18:00] ckreon commented on #270
https://bugzilla.mozilla.org/show_bug.cgi?id=1269241

[2019-03-08 19:53] envygeeks commented on #270
Remind Me to Work on this issue.

[2019-03-19 18:15] davatron5000 commented on #583
GitHub pages doesn't support Jekyll plugins. You might want to check out something like [Netlify](https://www.netlify.com/) which can do Jekyll plugins and can autodeploy from a GitHub integration.

[2019-03-21 08:33] bbbenji commented on #538
A quick workaround for this is to inline your CSS

`{% asset main.css @inline %}`

But be aware, your CSS will no longer be cached.

[2019-03-26 00:52] abeMedia opened #584 "LESS not working since latest update"
I just updated to the latest version and LESS no longer seems to work...

Before I could write `{% css app %}` and `_assets/stylesheets/app.css.less` would be loaded.

Now I've tried `{% asset app %}`, `{% asset app.css %}` & `{% asset app.css.less %}` and I always get an error saying the file does not exist...

Was LESS support dropped?

[2019-03-26 09:25] envygeeks commented on #584
Jekyll Assets hasn't personally removed support for LESS.

[2019-03-27 15:07] abeMedia commented on #584
So how do I use the `asset` tag to include `_assets/stylesheets/app.css.less`?

[2019-03-27 15:08] envygeeks commented on #584
At this point I don’t know if less suddenly stopped working I’ll have to look at it this weekend when I’m not working and see what’s up and if I can fix it on my end

[2019-03-28 18:06] envygeeks commented on #584
I'm gonna try to take a look at this during this weekend.  I don't know that I can but I will try my hardest because this is a regression, so it's particularly important.

[2019-04-10 19:01] johnhutch commented on #551
Hey there! Just checking in on the above. I'm not sure how close we are to 4.0 and if this would make sense, but my team would love to try to fix the core issue reported here, sans-major-rewrite, and submit a pull request so we could get this feature sooner rather than later if possible.

Thanks much for the fantastic work either way!

[2019-04-24 20:50] morungos opened #587 "Documentation site is down with 404s"
The documentation URL: https://envygeeks.io/docs/jekyll-assets, linked from the repository, is currently not connecting to anything.

Can we have the documentation back when you have a moment? The readme is okay, but I'm struggling with sass path config and hoping there's more detail somewhere else.

[2019-04-24 20:51] envygeeks commented on #587
The documentation in that site is just a clone of the reader it has no more information.

[2019-04-24 23:11] morungos commented on #587
Then I will close.

[2019-04-24 23:11] #587 closed

[2019-04-25 00:39] morungos commented on #514
This issue is still present, as far as I can tell. I'm using:

 * jekyll (3.7.4)
 * sprockets (4.0.0.beta8)
 * autoprefixer-rails (7.2.5)

JS minifying works fine. CSS isn't, even when using, `env JEKYLL_ENV=production bundle exec jekyll build`.

If anyone can think of a workaround (in non-ruby-wizard detail), I'd be keen to hear it. Right now, this is something of a blocker, since my generated CS

[2019-05-11 11:59] JaimeObregon commented on #508
I have stumbled upon the same issue. There is clearly something I am doing wrong, but the documentation does not provide a clue in the form of a working example.

This is my `Gemfile` (simplified) and I have both `image_optim` and `image_optim_pack` installed:

[code]

In my `_config.yml` I have defined **two presets**: `default` and `optimized`:

[code]

The relevant lines of my markup look like

[2019-05-11 16:08] JaimeObregon commented on #508
I managed to get verbose output for both presets, and thus I have seen a mysterious `✗` before the `pngquant` task:

[code]

However, no error message follows.

I might be wrong, but to me it looks like each image is passed through a series of commands chained together, and that if one fails, the while optimization process breaks and the optimized image is not generated. That made sense to me.

Ju

[2019-05-24 22:23] amyspark opened #589 "Sprockets 4 beta breaks jekyll-assets"
- [X] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [X] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [ ] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debian
- [X] I am on macOS

[2019-05-27 17:53] amyspark commented on #584
@envygeeks Jekyll Assets did remove support AFAIK. https://github.com/envygeeks/jekyll-assets/commit/dbe6708536fee7ea4d613c534a660cc3256856e9

[2019-05-27 18:09] envygeeks commented on #584
Hmmm... I would have left a note to myself in my internal logs as to why, so I’ll check. I’ve still not had any time to look at any issues but I hope to have time soon.

[2019-05-29 20:36] araspik commented on #562
It's been a while (*ahem*), and the docs are still down. Any progress? Thanks!

[2019-06-08 18:07] envygeeks commented on #589
I just wanted to update this ticket and let you know that I did indeed get hold of Sprockets core team and this is an unintended signature change, I'll be working with them over the next few weeks to fix this issue, or if they discover that they wish it not to break, update Jekyll-Assets.

[2019-06-10 19:53] Nowaker opened #596 "Changes to a JavaScript file included with //= require not reflected when using Jekyll's --incremental rebuild"
- [ ] This feature is not on the latest version

- jekyll 3.8.5
- jekyll-assets: 3.0.12

## Request

`main.js`:
[code]

`jekyll serve --incremental --livereload`:
[code]

Request to `http://localhost:4000/assets/js/main-${digest}.js` will not reflect any changes to `toggle-pricing.js` - but should.

[2019-06-10 22:07] Nowaker opened #597 "Multuple //= require statements in JS/CSS in JEKYLL_ENV=development should result in multiple <script>/<link>s, like in Rails"
- [ ] This feature is not on the latest version

- jekyll 3.8.5
- jekyll-assets: 3.0.12

## Request

### Cite from Rails documentation

[Source](https://guides.rubyonrails.org/asset_pipeline.html#in-development).

In development mode, assets are served as separate files in the order they are specified in the manifest file.

This manifest app/assets/javascripts/application.js:

[code]

would genera

[2019-06-11 00:20] envygeeks commented on #597
This would be a Sprockets issue as we don't directly provide requires.

[2019-06-13 01:11] Nowaker commented on #597
I don't know if what Rails does is part of Sprockets, or custom Rails code wrapping Sprockets to achieve this result.

All in all, this issue is meant to be a feature request, not a bug report, so please consider this as an option in the future. Thanks!

[2019-06-13 01:36] Nowaker commented on #567
@iamdriz How about this? `JEKYLL_ENV=production bundle exec jekyll build`

[2019-06-13 01:45] Nowaker opened #598 "404 page instead of a compiled JavaScript file on master jekyll-assets and sprockets 4.0.0.beta8"
- [ ] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
  - [x] Using master
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [x] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debia

[2019-06-13 01:59] Nowaker opened #599 "Allow to disable digest"
Applies to both stable and master jekyll-assets.

## Request

Please consider allowing one to disable digests via a configuration option, e.g. `digest: false`, so assets can be accessed more directly, e.g. `/assets/blah.js` rather than `/assets/blah-$digest.js`.

Rails: https://guides.rubyonrails.org/asset_pipeline.html#turning-digests-off

[2019-06-13 02:22] envygeeks commented on #599
Disabling digesting is an unsupported feature as it complicates the logic necessary to maintain this library.  I am willing to give you a hint though: dig through the source, you might have a lucky day, it's unsupported.

[2019-06-13 02:22] #599 closed

[2019-06-13 02:24] envygeeks commented on #597
Since Sprockets does all of the `//=` logic on our behalf the request would have to go through them, Rails would indeed support it through them so you'll have to provide more debug logs to show how it's broken and then I can talk with Scheems and see what's going on.

[2019-06-13 02:43] Nowaker commented on #598
Not sure why it didn't work for me, but a restart made it work, and now it consistently Just Works ™️

[2019-06-13 02:43] #598 closed

[2019-06-18 13:20] #546 closed

[2019-06-20 17:29] maesitos commented on #507
Pull request fixing this use here: https://github.com/envygeeks/jekyll-assets/pull/601

[2019-06-20 18:53] maesitos commented on #507
Pull request fixing this issue https://github.com/envygeeks/jekyll-assets/pull/602

[2019-06-21 04:42] Nowaker commented on #597
@envygeeks I don't understand your request. I didn't say anything's broken. This is a feature request.

[2019-07-01 09:25] touzoku commented on #538
Having the same issue. It looks like there is code specifically for this issue, but it does not work for some reason:

https://github.com/envygeeks/jekyll-assets/blob/ce5c8cc43df9911e0788f06423a27375ee67c00f/lib/jekyll/assets/utils.rb#L233

[2019-07-15 00:41] jeffblake opened #606 "Liquid Exception: no implicit conversion of Symbol into Integer in /_layouts/default.html"
https://github.com/envygeeks/jekyll-assets/issues/575 from January is still open, but locked for some reason. I haven't been able to deploy a new website update since then due to this bug. I'm sorry for opening another issue about it, but I don't know what else to do.

[2019-07-15 14:59] ashmaroli opened #607 "Broken alignment of logger output"
- [x] I tried updating to the latest version
- [x] I Am on Linux
  - [x] Ubuntu

## Description

While debugging a Jekyll site that uses this plugin, I came across the following outputs:
[code]

## Expected

Expected aligned topic labels and messages:
[code]

[2019-07-27 12:06] philipesantos commented on #606
Hi! I have the same problem.
I'm not familiar with Ruby but I tried to dig around.
It looks like it is using the wrong variable at `line 65` and `line 67` of file `lib/jekyll/assets/plugins/alternates.rb`
`o` at that point is just a string. If I change to use the variable `_` instead, it does not break but the problem is that I still see lots of `/* @alternate */` in my generated css file.

[2019-07-29 22:33] Nowaker opened #609 "Release 3.0.13"
`v3.0-current` branch has a new change (https://github.com/envygeeks/jekyll-assets/pull/603) that would be worthy a release. Thanks in advance!

[2019-08-18 17:41] alexandre1985 commented on #194
Is soft cache bust implemented?
If yes, can someone tell me how to use it successfully?
Thank you

[2019-08-18 18:31] alexandre1985 opened #612 "compatibility with jekyll-multiple-languages-plugin"
great plugin. I am having problems with my implementation of cache bust.

I want to use jekyll-assets plugin in conjunction with jekyll-multiple-languages-plugin plugin but this last plugin changes site.baseurl according to which language directory the page is located.

I have 2 solutions, I need your help with this:
1. If there is a way to force a compilation of the asset file when using {{ asset

[2019-08-22 19:42] metrix78 opened #613 "Jekyll-assets not compatible with Jekyll 4.0"
- [x] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [ ] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [x] Debian
- [ ] I am on macOS

[2019-08-22 20:21] metrix78 commented on #613
I think the following section of the 3.x to 4.x [upgrade documentation](https://jekyllrb.com/docs/upgrading/3-to-4/#for-plugin-authors) states what the issues is:

If its a requirement that template you get from the above step be different at all times, you can invoke Liquid::Template directly:
[code]

I don't know enough about how jekyll assets works, but I would guess line 186 of utils.rb needs

[2019-08-22 23:19] Nowaker commented on #612
@alexandre1985 I'm using `jekyll-assets` and `jekyll-multiple-languages-plugin` without a problem. What's wrong with `{% asset main.css %}`? This is what I use and it works fine. Did you forget about this?
[code]

[2019-08-22 23:36] Nowaker opened #614 "Source maps don't generate"
- [x] I tried updating to the latest version
- [x] I Am on Linux
  - [x] Other: Arch Linux
- [x] I am on macOS 10.14
- [x] I'm on Docker
  - [x] I understand Docker may be unsupported

## Description

## Steps

Neither of these configs generate source maps for either SCSS:

[code]

[code]

Adding `JEKYLL_ENV=production` or `JEKYLL_ENV=development` on top of the config above still doesn't trigger t

[2019-08-23 07:44] alexandre1985 commented on #612
There were various problems using both plugins.
I already found a way of dealing with this, but I'm gonna try to remember what the problems were.
(Yes, I do have `exclude_from_localizations: ["assets", ....]`)

My goal it to have a (soft) cache bust.
- It would create files in assets/en/
- the soft cache bust was not working (it only did hard cache bust, that is, changed the filename)
- the files

[2019-08-26 13:27] metrix78 commented on #613
Digging further, I see what happened.  Upgrading to Jekyll 4 makes Bundler try to find the first version compatible. 1.0 is marked to be compatible with Jekyll < 5.0, so it gets installed.

[2019-09-04 22:37] #612 closed

[2019-09-14 08:55] flipacholas commented on #613
Manually setting the Gemfile to get all the cutting edge dependencies:

[code]
will still result in
[code]
Which doesn't happen using Jekyll 3.8.6

[2019-09-17 18:30] yukanagai opened #615 "How to include full site url in assets path using font_path"
- [ ] This feature is not on the latest version

## Request

Less of a request than a help question -

How can I use the full site url path within a font.css stylsheet?

instead of the stylesheet printing `src:url("/assets/#filename") `
I want `src:url("https://website/assets/#filename")`

Here is my font stylehseet:
[code]

[2019-09-19 21:21] schneems commented on #479
That link no longer works @tylercampbell do you have a working copy?

[2019-09-19 21:38] tylercampbell commented on #479
My link was to a blog post by the jekyll-assets author. I believe he's since incorporated that blog post's content into the official readme, but feel free to view the blog post here: https://envygeeks.io/blog/2017/11/21/jekyll-assets-3-released

[2019-09-19 21:48] schneems opened #616 "`asset 'application.css' @path` generates different output than `asset_path` in 3.0.12"
- [ x ] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [ ] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debian
- [ x ] I am on m

[2019-09-19 21:49] schneems commented on #616
Found the fix it was to remove my `baseurl` setting which was previously `/`

[2019-09-19 21:49] #616 closed

[2019-09-20 08:10] Nowaker commented on #541
In my case, adding jekyll-assets doubles the build time from 9 seconds to 20 seconds. While this probably has to be accepted, the fact that `--incremental` is 20 seconds too is a big problem.

... I found that adding `.jekyll-cache` to `exclude` turns my --incremental builds from 20 seconds into 1 second builds. I believe jekyll-assets incorrectly treats files inside `.jekyll-cache` as files that

[2019-09-24 07:29] Nowaker commented on #615
@yukanagai I think you need to define `assets:cdn` section in the config. See https://github.com/envygeeks/jekyll-assets#configuration. `JEKYLL_ENV=production` builds will get you an absolute URL instead of a relative one. development builds will still look up locally.

[2019-09-26 04:29] Nowaker commented on #599
It turns out this is already supported. `assets: false` is all it needs. Implemented in 2017. https://github.com/envygeeks/jekyll-assets/commit/29ddb025f49786794bce67e7d14fe198b04dabe7

[2019-09-26 05:56] Nowaker commented on #556
The secrecy behind `digest` setting is baffling. `jekyll-assets` in its current approach of `digest: true` is unusable in Jekyll's `--incremental` which saves tens of seconds of build time when only a small change has been made to one file.

[2019-09-26 08:01] Nowaker commented on #596
@envygeeks How much would you charge for making jekyll-assets 3.0 `--incremental` friendly? (You can email me if you're interested) The goal would be:

- when `assets/js/common/toggle-pricing.js` is modified, rebuild `assets/main.js` (because it `//= require`s that file)
- when `assets/js/common/toggle-pricing.js` is modified, do not rebuild `assets/blah.js` (because it doesn't `require` that file

[2019-10-02 20:32] Nowaker opened #619 "require_tree ../something works when compression: false even if path is not defined in assets:paths in _config, but the same require_tree is silently ignored when compression: true"
# Problem with `require_tree`

Use case:

[code]

main.js:
[code]

When `compression: false` is set, files inside the above directory will be included in the output of main.js.

However, when `compression: true` is set, this directory will NOT be included in the output of main.js. What's more, it will NOT raise any error during build.

# `require` is not affected

[code]

main.js:
[code]

`require

[2019-10-09 12:32] sashee commented on #606
In my case the problem appeared when I tried to update `bootstrap` from 4.1.3 to the latest version.

My investigation:
The problematic code runs only if the `crass` gem is installed. `bootstrap` from version 4.2.1 transitively depends on `crass`: [bootstrap](https://rubygems.org/gems/bootstrap/versions/4.2.1) => [sassc-rails](https://rubygems.org/gems/sassc-rails) => [railties](https://rubygems.o

[2019-10-10 09:00] sashee opened #621 "Magick should not throw SameType error"
- [x] This feature is not on the latest version

## Request

I have a bunch of images and I want to make sure they are displayed as JPGs. The formats differ, some are PNGs some are JPGs. If I use ```magick:format``` then a ```SameType``` error [is raised](https://github.com/envygeeks/jekyll-assets/blob/master/lib/jekyll/assets/plugins/proxy/magick.rb#L50) for the JPGs.

It would be better to eithe

[2019-10-11 22:38] flipacholas commented on #613
Finally got it working, this set up should be provisional but it works if you want to make the jump to 4.0.0:

[code]

[2019-10-13 21:36] reatlat opened #622 "Cant run Jekyll 4.0 return error =>`find_directory_manifest': wrong number of arguments (given 2, expected 1)"
- [x] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [x] I Am on Linux
  - [x] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [x] Debian
- [ ] I am on macOS

[2019-10-15 12:46] dsmrs opened #624 "unleash the full potential of ImageMagick inside jekyll-assets"
- [ ] This feature is not on the latest version

## Request

I'm trying to build a [super low consumption website](https://homebrewserver.club/low-tech-website-howto.html#get-in-touch), one way is to "dithering" the images from the website. The option is already available in ImageMagick, but not on the ones supported by `jekyll-assets`.
Not a Jekyll expert, neither ruby, but I would love to have t

[2019-10-15 19:16] rgant commented on #622
I believe this is actually an issue with a change in sprockets 4.0.0:

[code]

[2019-10-15 19:17] rgant commented on #622
Probably a duplicate of #589

[2019-10-15 19:22] rgant commented on #622
Fixed this by forcing the earlier version:

[code]

[2019-10-20 18:03] dramalho commented on #239
It's not clear from the linked PR how the fix actually fixed the issue, but for what it's worth - I was having the same issue and deleting the `.jekyll-cache` folder fixed it.

From running `jekyll build --verbose` I - well, obviously, started getting these hits

[code]

and the font files were correctly moved to the render folder, whereas before they were missing. Weird stuff

for reference

[cod

[2019-10-27 11:22] dramalho commented on #606
Just hit this as well, looking at the `plugin/alternates.rb` [here](https://github.com/envygeeks/jekyll-assets/blob/v3.0.12/lib/jekyll/assets/plugins/alternates.rb#L65) the code is expecting `o` to be an object/hash but it's really CSS string - with `@alternate` bits in it and the whole thing blows up there

[2019-11-05 16:55] nhoizey commented on #613
@flipacholas I tried this, but there are issues with some assets.

You can compare these two pages for example:
- https://nicolas-hoizey.com ([repo](https://github.com/nhoizey/nicolas-hoizey.com/tree/master))
- https://jekyll4.nicolas-hoizey.com ([repo](https://github.com/nhoizey/nicolas-hoizey.com/tree/jekyll4))

What I see:
- syntax like `{% asset "early-js" @inline %}` for inline JS works as be

[2019-11-05 22:25] flipacholas commented on #613
@nhoizey I also ran into a lot of problems with css (in my case with making autoprefixers work) and to be honest I started migrating to webpack to process sass and js some weeks ago, I don't regret it at all.

Jekyll-assets is a great plugin, but I ended up doing a lot of monkey-patching with ruby (to include code from pending pull-requests) and I also don't know what are the future prospects abou

[2019-11-05 22:35] nhoizey commented on #613
@flipacholas I wanted to migrate to Jekyll 4 to have a real project on which testing my own plugins, but I plan anyway to leave Jekyll for Eleventy, so it might not be worth losing time on this… 😢

[2019-11-07 15:59] nhoizey commented on #613
Asside from these parts missing in the output, I get build times around 600 seconds instead of 80 seconds with Jekyll 3, and a flame graph shows `uglifier` taking 80% of this build time.

[2019-11-07 17:09] nhoizey commented on #613
It looks like it might be related to this sprockets issue: https://github.com/rails/sprockets/issues/640

[2019-11-17 18:28] maesitos commented on #500
A workaround would be:

[code]

But it goes against the Liquid philosophy I guess.

[2019-11-26 17:40] xu-cheng opened #627 "Is this project still maintained?"
Hi, I would like to ask about the current state of this project. Is this project still maintained?

I ask because the latest stable release (3.0.12) is over a year old and there is no update for the past several months. It would be nice if this project gets more maintenances especially for the support of Sprockets 4.0.0 (#620) and Jekyll 4.0 (#613).

Any feedback would be appreciated. Thanks.

[2019-11-26 18:03] envygeeks commented on #627
A lot of people use this project but very few people deem it worth supporting so it's in an ironic state where I have to focus on other places, I am indeed very aware of the issues and constantly paying attention but most of those are waiting until I can give it free time because not many people are willing to help fund the part-time it would  take to do the overhaul for Sprockets 4, and Jekyll 4.

[2019-11-26 20:08] gg4u opened #628 "Merge javascript selectively"
Hi @envygeeks , I read your comment of this very day, thank you for the effort.

I actually have still to use your plugin, I have a question if eventually you may have already address it.

Suppose I have different Javascript files, some of them but not all of them could be groupd and merged into one file.

Can I use your plugin to instruct how to merge js files?

Example:

[code]

I want the files

[2019-12-10 13:34] elepedus opened #630 "After_compression hook in alternates appears to expect hash, gets string"
- [X] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [ ] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debian
- [ ] I am on macOS

[2019-12-11 02:20] TCFox commented on #582
Possibly related to #270 ?

Don't quote me on this, but as far as I know SHA256 is not currently considered _unsafe_ (as of 2019) and the convention to use SHA384 is largely due to [an old bug in Firefox that resulted in SHA256/SHA512 SRI hashes being incorrectly validated](https://bugzilla.mozilla.org/show_bug.cgi?id=1269241). SHA224/SHA384 was being validated correctly despite this bug, hence th

[2019-12-16 21:09] uberfuzzy commented on #627
Is there any other project that is comparable that we can transition over to it and off of this semi-abandoned one, so we can start using Jekyll 4?

I fully understand that this is a volunteer project, but patchs([1]) and PRs have been sitting in stale PR hell for a while now to some of the major blockers to get over the hurdle of "even building" with the combo of jek4+assets4+spr4 without using s

[2020-01-30 22:34] lucascaton commented on #613
Any news on this?

[2020-02-18 19:31] BrianBravo commented on #570
@bert-bruggeman Did you figure out how to do this?

[2020-03-04 13:20] chalmagean opened #635 "undefined method `asset_path'"
Hi, I keep getting this error, and I'm not sure why.

I don't get it all the time, but most of the time it's there.

[code]

Here's the trace.

[code]

[2020-03-06 04:52] envygeeks commented on #628
You cannot. That feature should be taken up with Sprockets as they handle the bulk of asset parsing.

[2020-03-06 04:52] #628 closed

[2020-03-06 04:53] envygeeks commented on #619
I feel like this would be a Sprockets issue, all things considered we don't compress, or handle trees, we do indeed handle sources (we pass them into Sprockets) but other than that we don't typically deal with the compression, or the trees and finding assets.

[2020-03-06 04:54] envygeeks commented on #609
4.0 will be released soon.

[2020-03-06 04:54] #609 closed

[2020-03-06 04:56] envygeeks commented on #596
I don't know that I can detect assets with `//= require` but it should be possible I assume. If you'd like to feature this change you can email me.

[2020-03-06 05:02] envygeeks commented on #583
Indeed, Github pages does not support Jekyll-Assets.

[2020-03-06 05:02] #583 closed

[2020-03-06 05:08] #547 closed

[2020-03-06 05:10] envygeeks commented on #569
We don't link assets, that would be up to Sprockets mostly.

[2020-03-06 05:10] #627 closed

[2020-03-06 23:47] envygeeks commented on #622
This is issue is fixed and landed in master last night.

[2020-03-06 23:47] #622 closed

[2020-03-06 23:48] envygeeks commented on #635
Hey @chalmagean can you try the master branch and see if this is still an issue?

[2020-03-06 23:49] envygeeks commented on #630
@elepedus do you have a source repo that can replicate this issue?

[2020-03-06 23:52] envygeeks commented on #624
I don't know if I trust implicit forwarding with something that could potentially hit the system.

[2020-03-06 23:54] envygeeks commented on #613
Do we need to add `Sprockets.export_concurrent = false`?

[2020-03-06 23:56] envygeeks commented on #615
[code]

https://github.com/envygeeks/jekyll-assets/commit/8bc163ccf0b9cc9df7055ab828f7f0adf614f5e3

[2020-03-06 23:56] #615 closed

[2020-03-06 23:57] envygeeks commented on #607
IMO logs shouldn't be aligned at all like that, it makes it hard to read and makes it hard for machines to parse the output and understand what's going on, typically tabbing and spacing should only be used to indicate sub-context of logs. I have no plans to fix this, sorry.

[2020-03-06 23:57] #607 closed

[2020-03-06 23:59] envygeeks commented on #597
Is there a benefit to doing this @Nowaker?

[2020-03-07 00:00] envygeeks commented on #589
Sprockets is at 4.x on the master branch and testing is passing.

[2020-03-07 00:00] #589 closed

[2020-03-07 00:02] envygeeks commented on #581
Do you have a full trace and potentially a demo site that can replicate this issue?

[2020-03-07 00:03] envygeeks commented on #577
Sprockets 4.x has landed in the master branch and switched to SassC

[2020-03-07 00:03] #577 closed

[2020-03-07 00:06] envygeeks commented on #564
You'll need to talk to the author of autoprefixer-rails and potentially the upstream project autoprefixer, as this is a plugin provided by them, we simply add it to our context and pass in your configuration.

[2020-03-07 00:07] #564 closed

[2020-03-07 00:07] envygeeks commented on #562
There are plans for a new docs site soon.

[2020-03-07 00:07] #562 closed

[2020-03-07 00:08] envygeeks commented on #552
This can be fixed in 4.x given we have 2.6 as a requirement now and there is a symbol GC.

[2020-03-07 00:10] envygeeks commented on #563
hey @alexey-pelykh can you elaborate this a bit more?

[2020-03-07 00:12] envygeeks commented on #270
Even though the other ticket is newer it's already tracked so closing this in favor of the newer ticket #582.

[2020-03-07 00:12] #270 closed

[2020-03-07 00:48] Nowaker commented on #597
@envygeeks The three points in `Explanation` part of the ticket are the benefits.

[2020-03-07 00:51] Nowaker commented on #619
I don't know if it's Sprockets or Jekyll-assets, but `compression` is a documented Jekyll-assets option and it doesn't work properly and is silent about it.

[2020-03-07 00:51] envygeeks commented on #597
# 1 isn't an issue Sprockets won't recompile the whole tree (or shouldn't)
# 2 is only mitigated in certain circumstances (and only for Pure JS that isn't transpiled, or CSS)
# 3 is a whole other ticket

That's why I asked if there were any better reasons.

[2020-03-07 00:52] envygeeks commented on #619
We can't be noisy about something we don't handle.

[2020-03-07 00:55] envygeeks commented on #619
Let me rephrase because I don't want you to think I don't care, I do care it's silent, I just don't know why and I feel like this might be a sprockets but, but I do plan on looking into it.

[2020-03-07 06:08] ashmaroli commented on #607
I think you misunderstood the ticket.
I was requesting the following change:
[code]
However, I haven't checked if the issue was resolved on `master` as of this writing.

[2020-03-07 06:10] envygeeks commented on #607
I did not misunderstand anything. What you indicated is what I do not wish to support!

[2020-03-07 06:12] ashmaroli commented on #607
Ah! okay then.. :man_shrugging:

[2020-03-07 12:30] chalmagean commented on #635
Not sure if it's related but now I'm getting the following when I try to build my site for production.

[code]

I see that jekyll-assets depends on liquid-tag-parser 1.0.0, and they are now at 1.9.

[2020-03-07 12:34] envygeeks commented on #635
"They're" would be me as that's my library.  Jekyll-Assets relies on `~> 1.0` not `= 1.0.0` so you can run bundle update any time you please to get any version of that dependency within the 1.x semantic range. Please provide a proper trace, not just the error, I can do nothing with an error, thanks!

[2020-03-07 15:42] metrix78 commented on #613
Looks like Sprockets has set export_concurrent to false by default: https://github.com/rails/sprockets/issues/581

[2020-03-07 15:43] envygeeks commented on #613
That's a little relieving! I'm gonna close this for now then since the specs are passing for both Sprockets 4, and Jekyll 4 on master. If this arises again please file a ticket!

[2020-03-07 15:43] #613 closed

[2020-03-08 06:56] alexey-pelykh commented on #563
@envygeeks hey, it's been a while since I wrote this, so I've lost context a bit. If I recall correctly, we had a lot of copy-paste snippets when inserting images into files, due to we wanted to provide optimized pictures for mobile, tablet, and web via `<picture>` tag, so I was thinking if such thing can be achieves via `@pic`, yet I don't recall what's latter is right now.

[2020-03-09 17:10] chalmagean commented on #635
Sorry, I didn't realize that.

[code]

[2020-03-09 22:08] envygeeks commented on #635
Hmmm... that makes the error very clear!

[2020-03-11 05:56] chalmagean opened #638 "`production': undefined method `merge' for nil:NilClass"
Updated to the latest version of master (as of right now), and I get the following trace. Is there something I'm missing?

[code]

[2020-03-11 10:32] #638 closed

[2020-03-11 11:15] #582 closed

[2020-03-11 11:18] envygeeks commented on #541
Jekyll-Assets uses explicit folders for dynamic processing... We don't don't know about, or care about .jekyll-cache when it comes to finding assets on the normal... it would be Jekyll that is treating .jekyll-cache as something important more than likely.  Anything we put in .jekyll-cache we expect to be... a literal cache that is never processed again.

[2020-03-11 11:18] #541 closed

[2020-03-11 21:17] dsmrs commented on #624
Agreed! That's why I said a "bad" implementation ^^
We could build an array with only the safest functions of ImageMagick? to filter what we pipe to it.

[2020-03-12 00:08] envygeeks commented on #624
If you can provide a list I can see what I can work out. That would be a workable solution IMO.

[2020-03-13 05:09] HeyITGuyFixIt commented on #581
This was from a while ago; let me see if I can throw something together.

[2020-03-13 06:36] HeyITGuyFixIt commented on #581
I am having a hard time getting to a point where I can even attempt to reproduce this. I quickly threw together a site on GitLab using their template, uploaded the fonts I used above and added the font-face property to the base.scss file. And for some reason asset_url is not working like it says it would in the [README file](https://github.com/envygeeks/jekyll-assets/blob/master/README.md#sass-scs

[2020-03-13 06:41] envygeeks commented on #581
I looked at your Gemfile, there is not Jekyll Assets in there at all...

[2020-03-13 20:43] HeyITGuyFixIt commented on #581
It's been a while since I've done this. So that's probably why.

[2020-03-30 14:17] vict0rsch opened #639 "ERROR asset not found."
- [x] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [ ] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debian
- [ ] I am on macOS

[2020-03-30 14:19] envygeeks commented on #639
How are you using `{% asset %}`?

[2020-03-30 14:23] chalmagean opened #640 "[SassC::FunctionsHandler] undefined method `asset_path'"
Hi, I get the following exception. I'm using the latest version from master.

[code]

[2020-03-30 14:23] vict0rsch commented on #639
I use this

[code]

which used to work fine until I reinstalled stuff when I changed laptop

[2020-03-30 14:25] envygeeks commented on #639
That would have never of worked with Jekyll Assets this is either a Jekyll bug, or it's never worked as Jekyll Assets has only ever supported `{% asset %}` or explictly setting the pre compiled assets. Please use `{% asset %}` or file this bug with Jekyll.

[2020-03-30 14:29] envygeeks commented on #640
It looks like you're using master, please see if this bug exists on the stable version.

[2020-03-30 14:48] envygeeks commented on #640
I say this because Jekyll Assets is undergoing a rewrite, and it's bound to be broken till I'm done.

[2020-03-30 18:13] chalmagean commented on #640
I've tried going with the stable version but now I get a different exception. Not sure if it's related to jekyll-assets.

[code]

[2020-03-30 18:15] envygeeks commented on #640
It is not, we do not process or load any files not explicitly requested.

[2020-03-30 19:16] vict0rsch commented on #639
Ok my bad, closing

[2020-03-30 19:16] #639 closed

[2020-03-31 04:36] chalmagean commented on #640
Unfortunately stable doesn't work with Jekyll 4. So I'm stuck.

[2020-04-02 17:32] envygeeks commented on #640
Sorry I missed this @chalmagean, use a ref

[code]

[2020-04-02 17:48] chalmagean commented on #640
Thanks but I had to remove `jekyll-assets` from my site.

[2020-04-04 11:01] melkamar opened #641 "magick:flip does not work, passes extra cli argument"
First off, thanks for a great library!

I encountered an issue when using the `magick:flip` argument of `{% asset %}`.

### Full description
ImageMagick works correctly, because using `magick:resize` works as expected:
[code]

However, if I add the `magick:flip` argument, the compilation fails with:
[code]

First I thought that there is no delegate to handle `jpeg`, but I checked and it is enabled

[2020-04-18 19:08] dramalho opened #642 "FileStore caching under Sprockets 4.x / Issue with `digest_path`"
## Description

I opened a branch on my blog to try to upgrade jekyll , jekyll-assets and sprockets along with it and I've stumbled onto two issues that I want to run by you. We can split this into two separate issues (sic) but I need to put this down while I remember the details :)

First of all, the important gems I'm running are:

* `sprockets (~> 4.0.beta7)`
* `jekyll-assets (4.0.0.alpha)` (re

[2020-04-29 03:08] envygeeks commented on #642
Do you have a site I can use to replicate the former issue? As the only way to trace that is to introspect it since there can be a lot of t hings that hit that particular area!

[2020-04-29 04:07] #640 closed

[2020-04-29 04:14] #462 closed

[2020-04-29 04:15] #469 closed

[2020-04-29 04:15] #519 closed

[2020-04-29 04:15] #532 closed

[2020-04-29 04:16] #516 closed

[2020-04-29 04:28] #630 closed

[2020-04-29 08:37] dramalho commented on #642
You said former but since you have a PR I guess for the Upstream caching, I guess you mean the `digest_path` issue right? I .. I have it on my blog, but I'll try to create a repo that triggers the thing - I need to remember where I was hitting it :)

Thanks for the Upstream fix, hope the stuff you've been dealing with is ... going well . Thanks Jordon

[2020-04-29 08:39] envygeeks commented on #642
I didn't know I had a PR for the caching issue, that's already fixed on master at https://github.com/envygeeks/jekyll-assets/commit/bc4250808072d29602af7f9c1d2e4b9187927d33 yes, I do mean the latter with digest_path.

[2020-06-06 18:10] Nowaker commented on #612
@alexandre1985 Can you share your solution for cache issues?

[2020-06-06 18:57] alexandre1985 commented on #612
@Nowaker it is not fully working and currently I'm not using cache burst on my websites because of this.
I have made a repository at https://github.com/alexandre1985/jekyll-bustify-plugin

[2020-06-06 20:18] Nowaker commented on #612
Thanks @alexandre1985. I use jekyll-assets for more than just cache busting, that's why I was interested.

In the meantime, I came up with a half-solution. It introduces `{% i18n_asset %}` that picks the correct image based on current language. It's not perfect but it works without causing excessive page rebuild times.

[code]

[2020-06-19 09:42] alexandre1985 commented on #612
@Nowaker Thank you. Honestly, I won't use it. As of today, I'm off much of jekyll plugins. I won't use jekyll-assets plugin.
I believe this may help other developers :smiley:
Have a great day

[2020-06-23 00:43] Philzen commented on #241
@envygeeks which exactly *is* **the** documentation for jekyll-assets apart from the README.md?

It used to have more information as today, [especially on the issue](https://github.com/envygeeks/jekyll-assets/pull/332/files) described here.

[2020-07-13 15:54] #596 closed

[2020-07-14 15:32] #567 closed

[2020-08-03 15:46] glenpike commented on #538
If anyone finds this, I solved the above problem with:

`<meta content="{{ site.url}}{% asset 'my-image.png' @path %}" property="og:image">`

It would be great if something like the following worked...

`<meta content="{% asset 'my-image.png' @path | absolute_url %}" property="og:image">`

[2020-08-03 15:48] envygeeks commented on #538
I don't think I'll ever consider `| absolute_url` but I'd be happy to look into `{% asset img.png @url %}`

[2020-08-03 15:50] glenpike commented on #538
This looks like a cool solution - yes please if you're able!

Thanks for the lib too.  Getting to grips with it.

[2020-08-04 11:58] glenpike commented on #581
I had to workaround an issue where we are getting font-face to work in our site.  So thought I'd post here for future ref.

Here is how I solved it, by adding this to the header of our site:

[code]

(It's a bit dirty - we are having to use Dart Sass for our SCSS compiling, but we can still use Jekyll Assets to handle our webfonts for assets.)

[2020-08-04 19:49] envygeeks commented on #581
Is it stripping the `#` and `~`?

[2020-08-04 20:36] glenpike commented on #581
For us, we could not get it to use asset_url or asset_path as these only seemed to be handled in SCSS / SASS files (which I believe don't get parsed by the plugin because we're using Dart and outputting CSS from that), so I have no comparison - it was just I'd been prompted by yesterday's solution for adding asset paths to try this for us.

[2020-08-12 17:55] maxgardner commented on #540
I realize this issue is a bit older, but for anyone looking to do this, you can achieve it currently through a bit of a hacky workaround. Where you're wanting to include the raw file, capture the asset you're targeting inline and perform some Jekyll operations on the captured string to remove the wrapper tags. Example:

[code]

You must include the `!integrity` and `!crossorigin` to avoid having t

[2020-08-12 18:10] envygeeks commented on #540
Jekyll Assets is currently undergoing an internal rewrite (with the same features but better perf and organization) that should have a lot of what's going on in this ticket. It should be released sometime this month.

[2020-09-23 14:51] dessita commented on #622
I'm still experiencing this issue when I update sprockets from 3.7 to 4.0

[2020-09-28 11:21] dependabot-preview[bot] opened #646 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/envygeeks/update-logs/48980595).

[2020-09-29 20:07] Nowaker opened #647 "Get a list of assets processed in SCSS file so they can be preloaded"
`{% asset application.scss %}` will generate `application-123hash321.css`. It will process any `asset_path` inside the SCSS and generate the corresponding files, e.g. `/assets/somefont-321hash123.woff2`. **We'd like to preload all assets referenced inside the CSS** by exposing them in the HTML file as `<link rel="preload">`. For example, we'd have `<link rel="preload" href="/assets/somefont-321has

[2020-11-06 09:19] timothy-kodes opened #648 "Where in worlds name is the documentation for Jekyll assets 2, because I cannot get 3 to work and can't find any links whatsoever on 2."
Documentation for 2???????

[2020-11-07 02:18] axelson opened #649 "Warnings on Ruby 2.7"
- [x] I tried updating to the latest version (using master)
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [x] I Am on Linux
  - [x] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debian
- [

[2020-11-13 17:37] armiiller commented on #648
https://github.com/envygeeks/jekyll-assets/releases?after=v3.0.0

[2020-11-19 00:17] axelson opened #650 "Auto-generate image width and height into html"
- [x] This feature is not on the latest version

## Request

I'd like to bring back something like `[autoresize]`, it was first added in #116 but it appears to have been removed in https://github.com/envygeeks/jekyll-assets/commit/484880a337a1e16787a2ce2443cffe59862026f8

So using FastImage/ImageMagick, read out the file width and height, then insert that into the generated html.

## Examples

I e

[2020-12-03 13:28] svetlanapuro opened #651 "Can not run bundle install because jekyll-assets dependency on macOS Catalina"
- [ ] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [ ] I Am on Linux
  - [ ] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debian
- [ ] I am on macOS

[2020-12-19 20:17] improvethings opened #652 "Uglifier issue: Extra configuration is required for Uglifier 3.x to support ES6 in production mode (it is supported in development mode) #2755"
Minimal Mistakes version: 4.21.0
    Ruby gem or remote theme version: 2.7.6.2
    Jekyll version: 3.8.7
    uglifier 4.2.0
    Operating system: Debian 10 (Buster) on Linux 5.4.0-0.bpo.4-amd64 x86_64

Publishing website to Vercel from github.

## Description

[Downstream issue for reference](https://github.com/mmistakes/minimal-mistakes/issues/2755#issuecomment-748514215)

## Steps

$ JEKYLL_ENV=

[2020-12-23 21:17] TerminalAddict opened #653 "Jekyll-assets ~> 3.0 does not support Jekyll 4.2.0"
## Request

Jekyll-assets ~> 3.0 does not support Jekyll 4.2.0

I am trying to resolve a Dependabot "Known high severity security vulnerability detected in rack < 2.1.4 defined in Gemfile.lock"

dependency: rack required by sprockets, sprockets required by jekyll-assets
Jekyll-assets requires jekyll <4.0 .. I have 4.2 in my project.

## Examples

if I pin jekyll assets in my gemfile:
[code]

right

[2020-12-24 06:10] MichaelCurrin commented on #653
The latest tag does not support this, but on master the gemspec file does support Jekyll 3 and 4. So this needs to be tagged and of course the maintainers need to be comfortable that this and _all other changes_ since the last tag are ready.

[2020-12-29 12:12] iamdriz opened #654 "Uglifier/UglifyJS doesn't support modern ES6"
We use Jekyll Assets with great passion in our static sites but we've been getting continually frustrated with Uglifier not supporting ES6 syntax like below:
[code]

As it means we have to define them manually using `defineProperty` like so:

[code]

[code]

I've raised this as an issue with UglifyJS but they don't seem to be doing a very good job of supporting the modern syntax...

How feasible i

[2021-01-08 17:11] typhoon2099 opened #655 "Can't figure out how to insert an image"
I have a file (images/team.jpg) that's defined as the image for a page. The following line
[code]

Does not seem to work:
[code]

I have tried hardcoding the file path (with and without single and double quotes) and get the same error. Am I missing something obvious here? I has assumed I just needed to stick in the path to my image to start resizing etc but so far I have not had a single image ren

[2021-01-08 18:37] axelson commented on #655
Did you confirm that you're running the latest version of jekyll-assets? Actually you might want to try running with the master branch with `gem 'jekyll-assets', :git => 'https://github.com/envygeeks/jekyll-assets.git', :branch => 'master'` (although I can't remember off the top of my head what I needed from master). I'm using nearly identical code:
[code]

[2021-01-11 16:02] typhoon2099 commented on #655
I was on the latest version, but not directly from github. IU was under time pressure though so I ended up switching to a different plugin to get image resizing done.

[2021-01-11 16:02] #655 closed, assigned to nobody

[2021-01-11 19:41] Jwiggiff opened #656 "SCSS AutoPrefixer Doesn't output any prefixes."
## Description

I am trying to setup SCSS AutoPrefixer in my Jekyll site. I believe I have everything installed correctly, and there are no errors logged.
I have this in my `Gemfile`:

[code]

And this is the relevant content in my `_config.yml`:
[code]

**Versions**:
`bundle info jekyll`:
[code]

`bundle info jekyll-assets`:
[code]

## Steps

- Add `gem "jekyll-assets"` to `Gemfile`
- Add `- jeky

[2021-02-15 20:56] mwt opened #657 "CDN destination is treated as boolean"
- [X] I tried updating to the latest version
  - [ ] I can't, there is an issue
  - [ ] This is about an < latest
    - [ ] I understand older versions may be unsupported
- [ ] I Am on Windows
  - [ ] Ubuntu Bash on Windows
  - [ ] Fedora Bash on Windows
  - [ ] Other  Bash on Windows
- [X] I Am on Linux
  - [X] Ubuntu
  - [ ] Fedora
  - [ ] CentOS
  - [ ] Redhat
  - [ ] Debian
- [ ] I am on macOS

[2021-03-09 10:49] Yankie commented on #652
I'll save you some time :)
Add following in your `_config.yml`:
[code]

[2021-03-09 11:50] Yankie commented on #654
I'll save you some time :)
Add following in your `_config.yml`:

[code]

[2021-03-11 19:23] iamdriz commented on #654
@Yankie Can you elaborate on what the above config does? We already have `harmony: true` in our `_config.yml`:

[code]

[2021-03-22 08:11] ttencate commented on #479
The link is dead and not present in the WayBack Machine either :(

[2021-03-23 16:31] nadundesilva commented on #653
Any chance this will be tagged soon and will be compatible with Jekyll 4 ?

[2021-04-08 11:21] dependabot-preview[bot] opened #658 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/envygeeks/update-logs/75913709).

[2021-04-08 11:21] #646 closed, assigned to nobody

[2021-05-18 14:35] schneems opened #660 "Release please"
Hello,

First, thanks a ton for this gem I use it on my blog and it's great. Second, I see there's quite a bit of development on main that isn't on rubygems (last gem is 2018). Can yall consider cutting a release? Thank you 🙏

[2021-05-28 08:49] braindeaf opened #661 "asset_path is scss is never called"
Hi, I'm trying to add in asset_url into our SCSS in our Jekyll project however

[code]

 I'm wanted to add support for both asset_url and asset-url. But I can't even seem to get asset_url to get called. Is there something I am missing.

We are using...

[code]

 Thank you in advance :)

[2021-07-25 06:00] mroch commented on #642
i'm running into the same digest_path issue with sprockets 4.

I narrowed it down to using `//= link foo.js`. I think this is the issue:

https://github.com/rails/sprockets/blob/24c97270fbf6de11b4ffff0311bb427b7a8a3a83/lib/sprockets/base.rb#L88

as far as I can tell, this is what sets `environment`, but it's setting it on `CachedEnvironment`, not on `Base`:
https://github.com/envygeeks/jekyll-asse

[2022-05-26 08:10] itrich commented on #660
We're using jekyll-assets to increase the performance of our static site. Thank you for this awesome gem.
Currently, we've added jekyll-asset with the corresponding git-URL to our Gemfile. However, this causes various problems with GitHub Action and security policies. A new release to Rubygems would be highly appreciated. Let me know if we can support you with maintaining this project!

[2022-06-20 16:54] tcdowney commented on #660
+1 to this! I was trying to figure out why Sprockets 4 wasn't working with my site since it looked like it had been fixed here a couple years ago and was surprised find out it was because the latest version on Ruby Gems was really old. A release would be appreciated! 🙏

[2022-07-01 17:42] annapoorna-r commented on #661
@braindeaf  I am facing similar issue, What was  the solution you found?

[2022-07-01 18:14] annapoorna-r opened #665 "Asset helpers not working post upgrading to ruby 2.7"
@envygeeks
Hi ,

I am facing issue with  below scenario, is there anything I am missing ?

Gemlist

Upgraded ruby verison from 2.5 to 2.7
Jekyll version  3.9.2
Jekyll assets 3.0.6
Sprockets 3.7.2
sprockets-assets latest
sprockets-helpers

In css/main.scss
[code]
tried
asset_path , asset_url, image-url, asset-url didn't work

_config.yaml

baseurl: "/help" # the subpath of your site, e.g. /blog/
de

[2022-07-02 11:13] braindeaf commented on #661
Wow, this was a year ago now :S The commit on our application that I'm looking at. Happy to glance over what you have to help because this drove me crazy for a few days at the time.

[code]

and adding

[code]

then using

[code]

[2022-07-07 05:20] annapoorna-r commented on #661
@braindeaf Thank you for your time to look into an year old commit  :-) . I will try your solution

[2022-07-07 16:53] itsfaraaz commented on #653
Any update to this? Been over a year

[2022-07-09 10:33] #648 closed, assigned to nobody

[2022-09-10 04:37] kg4zow commented on #578
Another use case ... consider a git repo which contains the `_config.yml` file, `_posts/` directory, and so forth ... in the root of the repo. I'd like to have a `README.md` file in the root of the repo, so that when somebody looks at that repo in Github or some other web interface, I'll have a way to explain how to set up Jekyll on their workstation and what the normal workflow looks like ... **w

[2022-09-10 04:53] kg4zow commented on #578
**Update:** after leaving the comment aboive I found that, if I use the word "exclude" instead of "ignore", the search results are a LOT more helpful, and they pointed me to [the documentation](https://jekyllrb.com/docs/configuration/options/).

I just added the following to my site's `_config.yml` file:

[code]

... and now when it generates the site, it doesn't include the `README.md` file in th

[2022-11-26 15:56] HumbleDeer opened #667 "pages: Jekyll-Assets deployment URL is wrong (this repo)"
## Description

The pages deployment URL  links to https://jekyll.github.io/jekyll-assets/
but the intended URL is likely https://envygeeks.github.io/jekyll-assets/

## Steps

Visit the deployment using the GitHub provided button:
![image](https://user-images.githubusercontent.com/16231288/204097519-aa0ea33e-9d7e-4d6f-b098-be72c695b4f6.png)